manifest {
    mainScript = 'main.nf'
}

// default parameters

params {
    cores = '4'
    memory = '12'
    help = false
    profile = false

    // inputs
    nano = ''
    fasta = ''
    list = false

    // parameters
    gsize = '20' 
    model = 'r941_min_high'

    // dbs
    db_kaiju = false

    // folder structure
    output = 'results'
    virusdir = '02-Viruses'
    assemblydir = '01-Assembly'
    readQCdir = '00-Read-quality'

    // hpc
    workdir = "/tmp/nextflow-phages-$USER"
    cloudDatabase = false
    cachedir = false
}

profiles {
  
    standard { 
        params.cloudProcess = false
        params.cloudDatabase = false
        //params.db_kaiju = '/Users/mhoelzer/databases/kaiju/nr_euk'
        includeConfig 'configs/local.config' }

    lsf {
        params.cloudProcess = true
        includeConfig 'configs/lsf.config' }

    ebi {
        params.cloudProcess = true
  	    params.workdir = "/hps/nobackup2/production/metagenomics/$USER/nextflow-work-$USER"
  	    params.cloudDatabase = "/homes/$USER/data/nextflow-databases/"
  	    params.cachedir = "/hps/nobackup2/singularity/$USER"	
        includeConfig 'configs/lsf.config' }

    gcloudMartin { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://databases-matrice/databases'
        bucketDir = 'gs://matrice/nextflow-tmp'
        google {  project = 'nextflow-auto-255816'; zone = 'europe-west2-b' }    
        includeConfig 'configs/googlegenomics.config' }
      
} 
