
workDir = "/hps/nobackup2/production/metagenomics/mhoelzer/nextflow-work-$USER"

executor {
    name = "lsf"
    //queueSize = 1000
}

singularity { 
    enabled = true
    cacheDir = "/hps/nobackup2/singularity/mhoelzer"
}

process {
    cache = "lenient"
    //errorStrategy = "retry"
    //maxRetries = 1
            withLabel: krona { cpus = 2 ; memory = '8 GB' ; container = 'nanozoo/krona:2.7.1--658845d'  }
            withLabel: kaiju { cpus = 24 ; memory = '160 GB' ; clusterOptions = '-P bigmem' ; container = 'nanozoo/kaiju:1.7.2--fa366a0' }
            withLabel: nanoplot { cpus = 8 ; memory = '12 GB' ; container = 'nanozoo/nanoplot:1.25.0--4e2882f' }
            withLabel: flye { cpus = 24 ; memory = '20 GB' ; container = 'nanozoo/flye:2.5--bae51d9' } 
            withLabel: canu { cpus = 24 ; memory = '16 GB' ; container = 'nanozoo/canu:v1.9--1dccfef' } 
            withLabel: filtlong { cpus = 12 ; memory = '20 GB' ; container = 'nanozoo/filtlong:v0.2.0--afa175e' }
            withLabel: minimap2 { cpus = 24 ; memory = '20 GB' ; container = 'nanozoo/minimap2:2.17--caba7af' } 
            withLabel: racon { cpus = 24 ; memory = '24 GB' ; container = 'quay.io/biocontainers/racon:1.3.2--he941832_0' } 
            withLabel: ruby { cpus = 4 ; memory = '4 GB' ; container = 'ruby:2.7-rc' } 
            withLabel: medaka { cpus = 24 ; memory = '24 GB' ; container = 'nanozoo/medaka:0.8.1--d88917e' } 
            withLabel: ubuntu { cpus = 4 ; memory = '4 GB' ; container = 'ubuntu:bionic' } 
            withLabel: ucsc { cpus = 4 ; memory = '8 GB' ; container = 'nanozoo/ucsc-utils:377--cd1194b' } 
            withLabel: marine_phage_paper_scripts { cpus = 8 ; memory = '16 GB' ; container = 'nanozoo/marine-phage-paper-scripts:1.0--b961c78' }
}

